$bg-1: rgba(210, 238, 255, 0.2);
$bg-2: rgba(#1c00ff, 1);
$bg-3: black;
$bg-4: rgb(142, 0, 194);
$bg-5: rgb(0, 255, 0);
$bg-6: yellow;
$bg-7: rgb(255, 100, 0);
$fg-1: black;
$fg-2: white;
$device-xxs: "(max-width : 320px)";
$device-xs: "(min-width : 320px)";
$device-s:  "(min-width : 600px)";
$device-m:  "(min-width : 768px)";
$device-l:  "(min-width : 992px)";
$device-xl:  "(min-width : 1200px)";

@mixin user-select($value) {
  -webkit-user-select: $value;
     -moz-user-select: $value;
      -ms-user-select: $value;
       -o-user-select: $value;
          user-select: $value;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

//background-size: cover;

@mixin background-size($property) {
  -webkit-background-size: $property;
     -moz-background-size: $property;
      -ms-background-size: $property;
       -o-background-size: $property;
          background-size: $property;
}

@mixin background-repeat($property) {
  -webkit-background-repeat: $property;
     -moz-background-repeat: $property;
      -ms-background-repeat: $property;
       -o-background-repeat: $property;
          background-repeat: $property;
}

@mixin background-position($property) {
  -webkit-background-position: $property;
     -moz-background-position: $property;
      -ms-background-position: $property;
       -o-background-position: $property;
          background-position: $property;
}

@mixin transition($property) {
  -webkit-transition: $property;
     -moz-transition: $property;
      -ms-transition: $property;
       -o-transition: $property;
          transition: $property;
}

@mixin customKeyFrames($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin customAnimation($animationDetails) {
  -webkit-animation: #{$animationDetails};
  -moz-animation: #{$animationDetails};
  -ms-animation: #{$animationDetails};
  -o-animation: #{$animationDetails};
  animation: #{$animationDetails};
}
