@import 'mixins';

.bio-container {
  display: grid;
  //6 columns per row, with each spanning 1 fraction
  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*grid-template-areas:
  'txt0 txt0 txt0 txt0 txt0 txt0'
  'flag flag flag flag flag flag'
  'txt1 txt1 txt1 txt1 txt1 txt1'
  'enjoy0 enjoy0 enjoy1 enjoy1 enjoy2 enjoy2'
  'txt2 txt2 txt2 txt2 txt2 txt2'
  'travel0 travel1 travel2 travel3 travel4 travel5'
  'txt3 txt3 txt3 txt3 txt3 txt3'
  'search0 search0 search0 search1 search1 search1';*/
  grid-gap:15px;
}

.bio-container-container {
  @include border-radius(10px);
  display: grid;
  margin: 1rem;
  border: 2px solid black;
}

/*
.i1 {
  background-image: url("../img/traveling.png");
  //grid-area: enjoy0;
}

.i2 {
  background-image: url("../img/researching.png");
  //grid-area: enjoy1;
}

.i3 {
  background-image: url("../img/games.png");
  //grid-area: enjoy2;
}

.i4 {
  background-image: url("../img/marmaris.png");
  //grid-area: travel0;
}

.i5 {
  background-image: url("../img/london.png");
  //grid-area: travel1;
}

.i6 {
  background-image: url("../img/clearwater.jpg");
  //grid-area: travel2;
}

.i7 {
  background-image: url("../img/phoenix.jpg");
  //grid-area: travel3;
}

.i8 {
  background-image: url("../img/san-francisco.jpg");
  //grid-area: travel4;
}

.i9 {
  background-image: url("../img/blacksburg.jpg");
  //grid-area: travel5;
}

.i10 {
  background-image: url("../img/achievements.png");
  //grid-area: search0;
}

.i11 {
  background-image: url("../img/meaning.jpg");
  //grid-area: search1;
}
*/

.c1 {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  @media only screen and #{$device-xxs} {
    grid-template-columns: repeat(auto-fit, minmax(80vmin, 1fr));
  }
  @media only screen and #{$device-xs} {
    grid-template-columns: repeat(auto-fit, minmax(80vmin, 1fr));
  }
  @media only screen and #{$device-l} {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

.c2 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  @media only screen and #{$device-xxs} {
    grid-template-columns: repeat(auto-fit, minmax(24vmax, 1fr));
  }
  @media only screen and #{$device-xs} {
    grid-template-columns: repeat(auto-fit, minmax(24vmax, 1fr));
  }
  @media only screen and #{$device-l} {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.c3 {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  @media only screen and #{$device-xxs} {
    grid-template-columns: repeat(auto-fit, minmax(80vmin, 1fr));
  }
  @media only screen and #{$device-xs} {
    grid-template-columns: repeat(auto-fit, minmax(80vmin, 1fr));
  }
  @media only screen and #{$device-l} {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  }
}

.bio-header {

}

.bio-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
  /*
  @include background-repeat(no-repeat);
  */

  @include border-radius(10px);
  border: 2px solid black;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  color: white;
  user-select: none;
  height: 200px;
  text-align: center;
  margin: 0.2rem 0;
  overflow-y: hidden;
  img {
    @include border-radius(8px);
    align-self: center;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    min-height:100%;
  }
  .special {
    min-width: 100%;
    height: 100%;
  }
  .bio-caption {
    grid-row: 1;
    grid-column: 1;
  }
}

h2 {
  text-align: center;
  line-height: 0.1em;
}

/*// debug - experimenting with css grid
.test-container {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 300px));
}

.test-item-1 {
  @include border-radius(10px);
  border: 4px solid black;
}

.test-item-2 {
  @include border-radius(10px);
  border: 4px solid black;
}

.test-item-3 {
  @include border-radius(10px);
  border: 4px solid black;
}

.test-item-4 {
  @include border-radius(10px);
  border: 4px solid black;
}
*/

.faq-large-title {

}

.faq-page-container {
  display: grid;
  grid-row-gap: 0;
  @include border-radius(10px);
  border: 2px solid black;
  margin: 1rem;
}

.floating-faq-selfie {
  min-height: 250px;
  shape-outside: polygon(59px 57px, 22.88% 38px, 39.67% 8.67%, 47.44% 13.33%, 52.56% 19.33%,
    53.44% 26.5%, 48.11% 36.33%, 45% 44.17%, 39.67% 50.83%, 41% 53%, 49.67% 57.17%,
    49.67% 59.17%, 62.33% 62%, 71.23% 71.17%, 78.78% 65.83%, 83% 65.33%, 85.89%
    67.17%, 85.22% 72%, 82.78% 75.67%, 86.11% 80.34%, 89% 84.16%, 98.11% 92.34%,
    100% 100%, 0% 100%, 0% 51.83%, 6.11% 48.5%, 12.33% 47.67%, 13% 45.5%, 11.67%
    40.83%, 8.78% 40.33%, 6.78% 35.67%, 7.67% 31.5%, 4.77% 26.67%, 6.11% 18.17%);
  @media only screen and #{$device-xxs} {
    //max-height: 280px;
    display: block;
    margin: 0 auto;
    max-width: 80%;
  }
  @media only screen and #{$device-xs} {
    display: block;
    margin: 0 auto;
    //max-height: 350px;
    max-width: 80%;
  }
  @media only screen and #{$device-s} {
    margin-right: 2rem;
    float: left;
    max-height: 450px;
  }
}

.faq-section {
  margin: 0.25rem 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed black;
}

.faq-text-container {
  font-size: 1.2rem;
}

.faq-section-title {
  margin: 1.5rem;
  text-align: center;
}

.faq-title {
  margin-bottom: 0.2rem;
}

.without-border {
  border: none;
}

a {
  color: $bg-2;
}

/* shape outside for selfie
polygon(59px 57px, 22.88% 38px, 39.67% 8.67%, 47.44% 13.33%, 52.56% 19.33%,
53.44% 26.5%, 48.11% 36.33%, 45% 44.17%, 39.67% 50.83%, 41% 53%, 49.67% 57.17%,
49.67% 59.17%, 62.33% 62%, 71.23% 71.17%, 78.78% 65.83%, 83% 65.33%, 85.89%
67.17%, 85.22% 72%, 82.78% 75.67%, 86.11% 80.34%, 89% 84.16%, 98.11% 92.34%,
100% 100%, 0% 100%, 0% 51.83%, 6.11% 48.5%, 12.33% 47.67%, 13% 45.5%, 11.67%
40.83%, 8.78% 40.33%, 6.78% 35.67%, 7.67% 31.5%, 4.77% 26.67%, 6.11% 18.17%)
!important
*/
