@import 'mixins';



a {
  color: $bg-2;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.home-container {
  margin: 0.5rem 1.5rem;
  padding: 1rem;
  border: 2px solid black;
}

.home-featured {
}

.side-box {
  display: block;
  border: 3px double black;
  padding: 1rem;
  font-size: 1.2rem;
  @media only screen and #{$device-xxs} {
    margin: 0 auto;
  }
  @media only screen and #{$device-xs} {
    margin: 0 auto;
  }
  @media only screen and #{$device-m} {
    float: right;
    margin-right: 1.5rem;
  }
}

.side-box-section {
  padding-top: 0.3rem;
}

.padded-text {
  padding-left: 2rem;
}
