@import 'mixins';

$bg-1: rgba(210, 238, 255, 0.2);
$bg-2: rgba(#1c00ff, 0.7);
$bg-3: black;
$bg-4: rgb(142, 0, 194);
$fg-1: black;
$fg-2: white;

body {
  background: $bg-1;
  color: $fg-1;
}

h1 {
  text-align: center;
}

nav {
  background-color: $bg-3;
  padding: 1px;
  width: 100%;
  display: block;
  align-content: center;
  justify-content: center;
  text-align: center;
  li {
    text-align: center;
    width: 8em;
    display: inline-block;
    padding: 10px;
    margin-left: 35px;
    @include border-radius(20px);
    transition: all 0.2s ease-in 0s;
    a {
      font-size: 1.2em;
      font-family: arial;
      color: $fg-2;
    }
    &.active {
      background: $bg-4;
    }
  }
  li:hover {
    background: $bg-2;
  }
}

a {
  user-select: none;
  color: $fg-2;
  text-decoration: none;
}

#page-body {
  opacity: 0;
  @include transition(all 0.5s ease-in 0s);
  &.load-page {
    opacity: 1;
  }
}

body {
  margin: 0px 0px 0px 8px
}
