@import 'mixins';

body {
  background: $bg-1;
  color: $fg-1;
}

h1 {
  font-family: Arial;
  text-align: center;
}

img {
  opacity: 1;
  transition: opacity 0.2s 0s;
}

img[data-src] {
  opacity: 0;
}

nav {
  background-color: $bg-3;
  padding: 1px;
  display: block;
  text-align: center;
  li {
    text-align: center;
    width: 8em;
    display: inline-block;
    padding: 0.5em;
    @include border-radius(20px);
    transition: all 0.2s ease-in 0s;
    a {
      font-size: 1.2em;
      font-family: arial;
      color: $fg-2;
    }
    @media only screen and #{$device-xxs} {
      min-width: 48vw;
      max-width: 80vw;
      padding: 0.5rem 0;
    }
    @media only screen and #{$device-xs} {
      max-width: 23vw;
      padding: 0.5rem 0;
    }
    @media only screen and #{$device-m} {
      padding: 1rem 0;
    }
  }
  li:hover {
    background: $bg-2;
    .nav-drop-down {
      display: block;
    }
  }
}

.nav-drop-down {
  position: absolute;
  z-index: 2;
  padding: 0rem;
  margin-top: 0.5rem;
  display: none;
  li {
    text-align: left;
    opacity: 0;
    padding: 1rem;
    display: block;
    border-top: 50px;
    background: rgb(101, 101, 101);
    @include border-radius(0px);
    min-width: 8rem; //8 letters is min width
    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        @include customAnimation(drop-down-animation 300ms (300ms*$i)-300ms ease-in-out forwards);
      }
    }
  }
  @media only screen and #{$device-m} {
    margin-top: 1rem;
  }
}

@include customKeyFrames(drop-down-animation) {
  0% {
    opacity: 0;
    transform: rotateX(-120deg) translateY(-2em);
  }
  50% {
    transform: rotateX(60deg) scale(1.4);
  }
  100%{
    opacity: 1;
    transform: rotateX(0deg) translateY(0em);
  }
}


a {
  user-select: none;
  color: $fg-2;
  text-decoration: none;
}

.active {
  background: $bg-4;
}

#page-body {
  opacity: 0;
  @include transition(all 0.5s ease-in-out 0s);
  &.load-page {
    opacity: 1;
  }
}

#page-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  opacity: 0;
  @include transition(all 0.2s ease-in-out 0s);
  &.load-overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

#alt-body {
  opacity: 0;
  @include transition(all 0.3s ease-in-out 0s);
  &.load-page {
    opacity: 1;
  }
}

body {
  margin: 0px 0px 8px 0px;
}

.image-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}

.image-container {
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  display: grid;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  width: fit-content;
  padding: 0rem 2rem;
}

.main-photo {
  img {
    max-height: 80vh;
    max-width: 80vw;
  }
}

#photo-title {
  font-weight: bold;
  font-family: arial;

  @media only screen and #{$device-xs} {
    font-size: 1rem;
    margin: 0.2rem;
  }
  @media only screen and #{$device-m} {
    font-size: 2rem;
    margin: 0.5rem;
  }
  @media only screen and #{$device-l} {
    font-size: 3rem;
    margin: 1rem;
  }
}

#photo-caption {
  @media only screen and #{$device-xs} {
    font-size: 0.5rem;
    margin: 0.1rem;
  }
  @media only screen and #{$device-m} {
    font-size: 1rem;
    margin: 0.25rem;
  }
  @media only screen and #{$device-l} {
    font-size: 1.5rem;
    margin: 0.5rem;
  }
}
