@import 'mixins';

.pente-body {
  font-size: 1.5em;
  margin: 1em;
}

.pente-login-container {
    margin: 0.5rem auto;
    padding: 1rem;
    font-size: 1.5rem;
    max-width: 20em;
    text-align: center;
    border: 2px solid BLACK;
}

.pente-input-field {
  display: block;
  text-align: center;
  font-size: 1em;
  background-color: rgb(251, 251, 251);
  width: 90%;
  margin: 0.5rem auto;
}

.pente-field {
  font-weight: bold;
}

.pente-combo-box {
  margin: 1rem;
}

.pente-button {
  background-color: brown;
  border: 2px solid BLACK;
  color: white;
  font-weight: bold;
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 8rem;
  &:hover {
    background-color: rgb(143, 82, 0);
    cursor: pointer;
  }
}

.pente-warning {
  font-size: 1.1rem;
  color: red;
  text-align: center;
  display: none; //warnings by default do not display
}

#pente-game {
  background-color: rgb(103, 52, 0);
  display: inline-block;
}

.pente-game-container {
  text-align: center;
}

.pente-turn-description {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.piece {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: rgb(123, 62, 0);
  @include border-radius(100%);
  border: 2px solid #000000; //initial border transparent to leave room for actual border
  margin: 0px;
  &.available {
    cursor: pointer;
  }
  &.shadow {
    &.WHITE{
      background-color: rgba(200, 200, 200, 0.2);
    }
    &.BLACK {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &.color {
    &.WHITE {
      border: 2px double black;
      background-color: rgb(200, 200, 200);
    }
    &.BLACK {
      border: 2px double rgb(200, 200, 200);
      background-color: BLACK;
    }
  }
}
