@import 'mixins';

.project-container {
  display: grid;
  margin: 2vh 1vw;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(48vw, 1fr));
}

.project-item {
  @include border-radius(50px);
  @include background-size(auto auto);
  //@include background-repeat(no-repeat);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  @include background-position(center);
  @include border-radius(10px);
  user-select: none;
  background-color: $fg-1;
  color: $fg-2;
  min-height: 250px;
  min-width: 400px;
  height: 50vh;
  border: 6px double $bg-4;
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
}

#tetriworld {
  background-image: url('../img/tetriworld.png');
}

#dormbuddy {
  background-image: url('../img/dormbuddy.png');
}

//css for specific pages
.jg-container {
  display: grid;
  grid-gap: 10px;
  margin: 2vh 1vw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.8fr));
  justify-content: center;
}

.jg-item {
  min-height: 300px;
  min-width: 400px;
  background-color: rgb(228, 228, 228);
  border: 2px solid black;
  @include border-radius(50px);
  @include background-size(auto auto);
  @include background-position(center);
  @include border-radius(10px);
  user-select: none;
  cursor: pointer;
  img {
    float: left;
    height:250px;
    margin: 10px;
    @include border-radius(20px);
  }
  span{
    font: arial;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
  }
}

.jg-game-info {
  display: flex;
}

.jg-game-info-body {
  margin-top: 15px;
  display: inline;
  font-size: 1.1em;
}

.jg-game-info-body-section {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px dashed rgb(134, 134, 134);
}
