@import 'mixins';

.project-container {
  display: grid;
  margin: 2vh 1vw;
  grid-gap: 10px;
  @media only screen and #{$device-xxs} {
    grid-template-columns: repeat(auto-fit, minmax(60vmin, 1fr));
  }
  @media only screen and #{$device-xs} {
    grid-template-columns: repeat(auto-fit, minmax(94vmin, 94vmax));
    margin: 2vmin 3%;
  }
  @media only screen and #{$device-l} {
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
  @media only screen and #{$device-xl} {
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  }
}

.project-item {
  @include border-radius(50px);
  @include background-size(auto auto);
  //@include background-repeat(no-repeat);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  @include background-position(left);
  @include border-radius(10px);
  user-select: none;
  background-color: $fg-1;
  color: $fg-2;
  min-height: 300px;
  border: 6px double $bg-4;
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
}

#tetriworld {
  background-image: url('../img/tetriworld.png');
}

#dormbuddy {
  background-image: url('../img/dormbuddy.png');
}

#javagames {
  background-image: url('../img/javagames.png');
}

//css for specific pages
.jg-container {
  display: grid;
  grid-gap: 10px;
  margin: 2vh 1vw;

  @media only screen and #{$device-xxs} {
    grid-template-columns: repeat(auto-fit, minmax(55vw, 1fr)); //1 column
  }
  @media only screen and #{$device-xs} {
    grid-template-columns: repeat(auto-fit, minmax(55vw, 1fr)); //1 column
  }
  @media only screen and #{$device-s} {
    grid-template-columns: repeat(auto-fit, minmax(40vmin, 1fr)); //1 column
  }
  @media only screen and #{$device-l} {
    grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
  }
  justify-content: center;
}

.jg-item {
  background-color: rgb(228, 228, 228);
  border: 2px solid black;
  @include background-size(auto auto);
  @include background-position(center);
  @include border-radius(10px);
  user-select: none;
  cursor: pointer;
  img {
    display: block;
    margin: 0.5rem auto;
    width: 90%;
    @include border-radius(20px);
    @media only screen and #{$device-m} {
      width: auto;
      float: left;
      max-height: 250px;
      margin: 0.5rem;
    }
  }
  span{
    font: arial;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
  }
}

.jg-game-info {
  display: block;
}

.jg-game-info-body {
  display: block;
  font-size: 1.1em;
  margin: 0.5rem;
  @media only screen and #{$device-m} {
    display: inline;
  }
}

.jg-game-info-body-section {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px dashed rgb(134, 134, 134);
}

.project-header {
  //edit h1 defaults to make room for back button
  h1 {
    padding: 1rem;
    margin: 0;
  }
}

#menu-button {
  @include border-radius(5px);
  border: 2px solid black;
  user-select: none;
  cursor: pointer;
  margin: 0.5rem 1vw;
  font-size: 1.5rem;
  font-weight: bold;
  color: $fg-2;
  background-color: $bg-2;
  padding: 0.5rem 1rem;
  text-align: center;
  //center menu button in smaller screens
  @media only screen and #{$device-xxs} {
    display: block;
    width: fit-content;
    position: relative;
    margin: 1vw auto;
  }
  @media only screen and #{$device-xs} {
    display: block;
    width: fit-content;
    position: relative;
    margin: 1vw auto;
  }
  //position it on top left in large screens
  @media only screen and #{$device-l} {
    position: absolute;
    margin: 0.5rem 1vw;
  }
}

.tw-body {
  flex: 1;
  margin: 0vw;
  @include border-radius(5px);
  border: 4px double black;
  display: grid;
  grid-template-rows: auto auto 1fr;
  h2 {
    margin: 0 0 1rem 0;
    text-align: center;
  }
}

.tw-section {
    border: 2px double black;
    background-color: white;
    padding: 1vw;
}

.tw-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.tw-img-container {
  margin: 0.5rem auto;
  padding-right: 0.5rem;
  @media only screen and #{$device-xxs} {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
  @media only screen and #{$device-xs} {
    display: block;
    width: 90vw;
    margin: 0 auto;
  }
  @media only screen and #{$device-l} {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
  }
  img {
    @media only screen and #{$device-xxs} {
      width: 100%;
      margin: 1vw auto;
    }
    @media only screen and #{$device-xs} {
        width: 100%;
    }
  }
}

.tw-game-mode {
  border: 2px dashed black;
  background-color: $bg-1;
  img {
    @media only screen and #{$device-xxs} {
      display: block;
      width: 100%;
    }
    @media only screen and #{$device-xs} {
      display: block;
      width: 100%;
    }
    @media only screen and #{$device-l} {
      width: 450px;
      height: 250px;
      float: left;
      margin: 0 0.5rem 0 0;
    }
  }
  h3 {
    display: block;
    text-align: center;
    @media only screen and #{$device-l} {
      display: inline-block;
      margin: 0.5rem auto;
    }
  }
  p {
    padding: 0 0.5rem;
  }
}
.tw-block {
  background-image: url('../img/tw-block.png');
  @include background-repeat(repeat);
  @include background-position(top left);
}

.tw-block-row {
  @extend .tw-block;
  height: 40px;
  width: 100%;
}

.tw-block-col{
  @extend .tw-block;
  flex: 1; //same height as the body
  max-width:80px; //allow for collapsing in smaller screens
}

.tw-flex {
  display: flex;
}

#play-tw {
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-family: arial;
  background-color: rgb(0,167,222);
  @include border-radius(20px);
  border: 2px solid black;
  @media only screen and #{$device-xxs} {
    font-size: 1rem;
    margin: 0.5rem auto;
  }
  @media only screen and #{$device-xs} {
    font-size: 2rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
  }
  @media only screen and #{$device-m} {
    font-size: 3rem;
  }
  @media only screen and #{$device-l} {
    font-size: 4rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
  }
}

.db-top {
  height: 80px;
  min-width: 90%;
  @include border-radius(80px 80px 0px 0px);
  background-color: $fg-1;
  border: 5px solid gray;
  border-bottom: 0;
}

.db-flex {
    display: flex;
}

.db-side {
  background-color: $fg-1;
  display: flex;
  min-width: 7px;
  max-width: 17px;
  flex: 1;
}

.db-left {
  @extend .db-side;
  border-left: 5px solid gray;
}

.db-right {
  @extend .db-side;
  border-right: 5px solid gray;
}

.db-bottom {
  height: 80px;
  min-width: 90%;
  @include border-radius(0px 0px 80px 80px);
  background-color: $fg-1;
  border: 5px solid gray;
  border-top: 0;
}

.db-container {
  background-color: $fg-2;
  flex: 1;
}

.db-screen-top {
    display: block;
    height: 1.7rem;
    background-color: $bg-2;
    width: 100%;
    text-align: center;
    padding: 0.2rem;
    color: $fg-2;
    font-size: 1.5rem;
    font-family: Arial;
}

.db-screen-bottom {
    display: block;
    height: 3rem;
    background-color: rgb(32, 32, 32);
    width: 100%;
    text-align:center;
}

#db-screen-button {
    display: inline-block;
    margin: 0 auto;
    margin-top: 0.5rem;
    @include border-radius(2rem);
    height: 2rem;
    width: 2rem;
    border: 0.2rem double $bg-4;
    background-color: rgb(142, 142, 142);
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
}

.db-screen {
  display: grid;
  @media only screen and #{$device-xxs} {
    grid-template-columns: repeat(auto-fit, minmax(60vmin, 1fr));
  }
  @media only screen and #{$device-xs} {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  @media only screen and #{$device-s} {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
  @media only screen and #{$device-l} {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  @media only screen and #{$device-xl} {
    grid-template-columns: repeat(auto-fit, minmax(30vmax, 1fr));
  }
}

.db-widget {
  min-height: fit-content;
  max-height:400px;
  cursor: pointer;
  img {
    max-width: 100%;
    min-height: 100%;
  }
  a{
    width: 100%;
    height: 100%;
  }
}
