@import 'mixins';

.project-container {
  display: grid;
  margin: 2vh 1vw;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(48vw, 1fr));
}

.project-item {
  @include border-radius(50px);
  @include background-size(auto auto);
  //@include background-repeat(no-repeat);
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
  @include background-position(center);
  @include border-radius(10px);
  user-select: none;
  background-color: $fg-1;
  color: $fg-2;
  min-height: 250px;
  min-width: 400px;
  height: 50vh;
  border: 6px double $bg-4;
  display: grid;
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  text-align: center;
}

#tetriworld {
  background-image: url('../img/tetriworld.png');
}

//css for specific pages
.jg-container {
  display: grid;
  margin: 2vh 1vw;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(36vw, 1fr));
}
