.bio-container {
  display: grid;
  /*grid-template-areas:
  'txt0 txt0 txt0 txt0 txt0 txt0'
  'flag flag flag flag flag flag'
  'txt1 txt1 txt1 txt1 txt1 txt1'
  'enjoy0 enjoy0 enjoy1 enjoy1 enjoy2 enjoy2'
  'txt2 txt2 txt2 txt2 txt2 txt2'
  'travel0 travel1 travel2 travel3 travel4 travel5'
  'txt3 txt3 txt3 txt3 txt3 txt3'
  'search0 search0 search0 search1 search1 search1';*/
  grid-gap: 15px; }

.i0 {
  background-image: url("../img/flag-morocco.png"); }

.i1 {
  background-image: url("../img/traveling.png"); }

.i2 {
  background-image: url("../img/researching.png"); }

.i3 {
  background-image: url("../img/games.png"); }

.i4 {
  background-image: url("../img/marmaris.png"); }

.i5 {
  background-image: url("../img/london.png"); }

.i6 {
  background-image: url("../img/clearwater.jpg"); }

.i7 {
  background-image: url("../img/phoenix.jpg"); }

.i8 {
  background-image: url("../img/san-francisco.jpg"); }

.i9 {
  background-image: url("../img/blacksburg.jpg"); }

.i10 {
  background-image: url("../img/achievements.png"); }

.i11 {
  background-image: url("../img/meaning.jpg"); }

.c1 {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }

.c2 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }

.c3 {
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr)); }

.bio-item {
  display: grid;
  align-items: flex-end;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -ms-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: center;
  -moz-background-position: center;
  -ms-background-position: center;
  -o-background-position: center;
  background-position: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  color: white;
  user-select: none;
  min-height: 200px;
  text-align: center; }

h2 {
  text-align: center;
  line-height: 0.1em; }

/*// debug - experimenting with css grid
.test-container {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 300px));
}

.test-item-1 {
  @include border-radius(10px);
  border: 4px solid black;
}

.test-item-2 {
  @include border-radius(10px);
  border: 4px solid black;
}

.test-item-3 {
  @include border-radius(10px);
  border: 4px solid black;
}

.test-item-4 {
  @include border-radius(10px);
  border: 4px solid black;
}
*/
