body {
  background: rgba(210, 238, 255, 0.2);
  color: black; }

h1 {
  font-family: Arial;
  text-align: center; }

nav {
  background-color: black;
  padding: 1px;
  display: block;
  text-align: center; }
  nav li {
    text-align: center;
    width: 8em;
    display: inline-block;
    padding: 0.5em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in 0s; }
    nav li a {
      font-size: 1.2em;
      font-family: arial;
      color: white; }
    nav li.active {
      background: #8e00c2; }
  nav li:hover {
    background: rgba(28, 0, 255, 0.7); }

a {
  user-select: none;
  color: white;
  text-decoration: none; }

#page-body {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in 0s;
  -moz-transition: all 0.5s ease-in 0s;
  -ms-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s; }
  #page-body.load-page {
    opacity: 1; }

body {
  margin: 0px 0px 8px 0px; }
