.project-container {
  display: grid;
  margin: 2vh 1vw;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(48vw, 1fr)); }

.project-item {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-size: auto auto;
  -moz-background-size: auto auto;
  -ms-background-size: auto auto;
  -o-background-size: auto auto;
  background-size: auto auto;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  -webkit-background-position: center;
  -moz-background-position: center;
  -ms-background-position: center;
  -o-background-position: center;
  background-position: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  user-select: none;
  background-color: black;
  color: white;
  min-height: 250px;
  min-width: 400px;
  height: 50vh;
  border: 6px double #8e00c2;
  font-family: arial;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  text-align: center; }

#tetriworld {
  background-image: url("../img/tetriworld.png"); }

#dormbuddy {
  background-image: url("../img/dormbuddy.png"); }

.jg-container {
  display: grid;
  grid-gap: 10px;
  margin: 2vh 1vw;
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.8fr));
  justify-content: center; }

.jg-item {
  min-height: 300px;
  min-width: 400px;
  background-color: #e4e4e4;
  border: 2px solid black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  -webkit-background-size: auto auto;
  -moz-background-size: auto auto;
  -ms-background-size: auto auto;
  -o-background-size: auto auto;
  background-size: auto auto;
  -webkit-background-position: center;
  -moz-background-position: center;
  -ms-background-position: center;
  -o-background-position: center;
  background-position: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  user-select: none;
  cursor: pointer; }
  .jg-item img {
    float: left;
    height: 250px;
    margin: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px; }
  .jg-item span {
    font: arial;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em; }

.jg-game-info {
  display: flex; }

.jg-game-info-body {
  margin-top: 15px;
  display: inline;
  font-size: 1.1em; }

.jg-game-info-body-section {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px dashed #868686; }
