a {
  color: #1c00ff; }

h3 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center; }

.home-container {
  margin: 0.5rem 1.5rem;
  padding: 1rem;
  border: 2px solid black; }

.home-featured-title {
  font-size: 1.5rem;
  margin: 0; }

.home-featured-subtitle {
  margin: 1rem 0;
  font-size: 1.2rem; }

.side-box {
  display: block;
  border: 3px double black;
  padding: 1rem;
  font-size: 1.2rem; }
  @media only screen and (max-width: 320px) {
    .side-box {
      margin: 0 auto; } }
  @media only screen and (min-width: 320px) {
    .side-box {
      margin: 0 auto; } }
  @media only screen and (min-width: 768px) {
    .side-box {
      float: right;
      margin-right: 1.5rem; } }

.side-box-section {
  padding-top: 0.3rem; }

.padded-text {
  padding-left: 2rem; }

#featured-game, #mobile-message {
  display: block; }

.home-play-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: auto;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  font-family: arial;
  background-color: #1c00ff;
  color: white;
  cursor: pointer;
  select: none;
  width: 9rem;
  margin: 0 auto; }
  .home-play-button:hover {
    background-color: #1f00b6; }
  .home-play-button a {
    color: white; }
  @media only screen and (min-width: 768px) {
    .home-play-button {
      margin: 0; } }
