a {
  color: #1c00ff; }

.floating-home-selfie {
  min-height: 250px;
  shape-outside: polygon(59px 57px, 22.88% 38px, 39.67% 8.67%, 47.44% 13.33%, 52.56% 19.33%, 53.44% 26.5%, 48.11% 36.33%, 45% 44.17%, 39.67% 50.83%, 41% 53%, 49.67% 57.17%, 49.67% 59.17%, 62.33% 62%, 71.23% 71.17%, 78.78% 65.83%, 83% 65.33%, 85.89% 67.17%, 85.22% 72%, 82.78% 75.67%, 86.11% 80.34%, 89% 84.16%, 98.11% 92.34%, 100% 100%, 0% 100%, 0% 51.83%, 6.11% 48.5%, 12.33% 47.67%, 13% 45.5%, 11.67% 40.83%, 8.78% 40.33%, 6.78% 35.67%, 7.67% 31.5%, 4.77% 26.67%, 6.11% 18.17%); }
  @media only screen and (max-width: 320px) {
    .floating-home-selfie {
      display: block;
      margin: 0 auto;
      max-width: 80%; } }
  @media only screen and (min-width: 320px) {
    .floating-home-selfie {
      display: block;
      margin: 0 auto;
      max-width: 80%; } }
  @media only screen and (min-width: 600px) {
    .floating-home-selfie {
      margin-right: 2rem;
      float: left;
      max-height: 450px; } }

.home-image-and-text {
  height: max-content; }

.home-section {
  margin: 1rem; }

.home-text-container {
  font-size: 1.2rem; }

.home-title {
  text-align: center; }

/* shape outside for selfie
polygon(59px 57px, 22.88% 38px, 39.67% 8.67%, 47.44% 13.33%, 52.56% 19.33%,
53.44% 26.5%, 48.11% 36.33%, 45% 44.17%, 39.67% 50.83%, 41% 53%, 49.67% 57.17%,
49.67% 59.17%, 62.33% 62%, 71.23% 71.17%, 78.78% 65.83%, 83% 65.33%, 85.89%
67.17%, 85.22% 72%, 82.78% 75.67%, 86.11% 80.34%, 89% 84.16%, 98.11% 92.34%,
100% 100%, 0% 100%, 0% 51.83%, 6.11% 48.5%, 12.33% 47.67%, 13% 45.5%, 11.67%
40.83%, 8.78% 40.33%, 6.78% 35.67%, 7.67% 31.5%, 4.77% 26.67%, 6.11% 18.17%)
!important
*/
