.pente-body {
  font-size: 1.5em;
  margin: 1em; }

.pente-container {
  margin: 0.5rem auto;
  padding: 1rem;
  font-size: 1.5rem;
  max-width: 20em;
  text-align: center;
  border: 2px solid BLACK; }

.pente-input-field {
  display: block;
  text-align: center;
  font-size: 1em;
  background-color: #fbfbfb;
  width: 90%;
  margin: 0.5rem auto; }

.pente-field {
  font-weight: bold; }

.pente-combo-box {
  margin: 1rem; }

.pente-button {
  text-align: center;
  background-color: brown;
  border: 2px solid BLACK;
  color: white;
  font-weight: bold;
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 8rem; }
  .pente-button:hover {
    background-color: #8f5200;
    cursor: pointer; }

.pente-warning {
  font-size: 1.1rem;
  color: red;
  text-align: center;
  display: none; }

#pente-game {
  background-color: #673400;
  display: inline-block; }

#pente-game-placeholder {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center; }

.pente-container-title {
  font-size: 2rem;
  font-weight: bold; }

.pente-pending-games {
  font-size: 1.5rem; }

.pente-game-container {
  text-align: center; }

.pente-turn-description {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold; }

.piece {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #7b3e00;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #000000;
  margin: 0px; }
  .piece.available {
    cursor: pointer; }
  .piece.shadow.WHITE {
    background-color: rgba(200, 200, 200, 0.2); }
  .piece.shadow.BLACK {
    background-color: rgba(0, 0, 0, 0.2); }
  .piece.color.WHITE {
    border: 2px double black;
    background-color: #c8c8c8; }
  .piece.color.BLACK {
    border: 2px double #c8c8c8;
    background-color: BLACK; }

.game-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center; }
