<div class="db-screen-body">
  <h1>Event Buddy</h1>
  <h2>Purpose</h2>
  As an extension of Studdy Buddy, we thought about a buddy that is designed
  for resident advisors and administrators. Study rooms are limited in capacity,
  so what if we could allow the reservation of larger, general purpose rooms,
  such as dorm lounges? This is where Event Buddy comes in. Event Buddy is a tool
  designed for dorm building administrators, and it allows the reservation of
  these general purpose rooms, as well as study rooms, for events. Events can only be
  created by admins, and once an event is created, it is broadcasted to all
  students living in the building.
  <div class="db-screen-text-section">
    <div class="db-float-left">
      <div class="db-img">
        <img src="/img/db-eb-0.png" class="db-phone-img displayable-photo" />
      </div>
    </div>
    <h2>Events</h2>
    When Event Buddy is launched, a listing of upcoming events is shown to the
    user. Those events are sorted by date, and a preview of the event, that
    includes its title, location, and time is displayed. Users can tap this
    preview for more details.
    <h3>Creating an Event</h3>
    In order to create an event, you must be a Dorm Buddy admin. Creating an
    event, just like reserving a study room, is as simple as tapping the create
    button. Following that, a form needs to be filled out with event details.
    Those details include a title, an optional icon, a location, a time.
    and a description. Event Buddy uses the same timeslot selection system as Study
    Buddy, therefore times must be continuous and must not interfere with other events.
    Events also have have a location, which could be any general room or study room
    in the building. When the admin creates an event, it is broadcasted in a local
    fashion to all students who reside in the same building. Students can check
    their version of Event Buddy to view upcoming events and their details.
  </div>
  <div class="db-img-container-small">
    <div class="db-img">
      <img src="/img/db-eb-1.png" class="db-phone-img-small displayable-photo" />
      Event creation interface
    </div>
    <div class="db-img">
      <img src="/img/db-eb-2.png" class="db-phone-img-small displayable-photo" />
      Event timeslot selection
    </div>
    <div class="db-img">
      <img src="/img/db-eb-3.png" class="db-phone-img-small displayable-photo" />
      Event details after reservation
    </div>
    <div class="db-img">
      <img src="/img/db-eb-4.png" class="db-phone-img-small displayable-photo" />
      Non-admin view of Event Buddy
    </div>
  </div>
</div>
