<div id="db-db" class="db-widget">
  <a href="/projects/dormBuddy/overview">
    <img data-src="/img/db-db.png"/>
  </a>
</div>
<div id="db-lb" class="db-widget">
  <a href="/projects/dormBuddy/laundryBuddy">
    <img data-src="/img/db-lb.png"/>
  </a>
</div>
<div id="db-mb" class="db-widget">
  <a href="/projects/dormBuddy/mapBuddy">
    <img data-src="/img/db-mb.png"/>
  </a>
</div>
<div id="db-sb" class="db-widget">
  <a href="/projects/dormBuddy/studyBuddy">
    <img data-src="/img/db-sb.png"/>
  </a>
</div>
<div id="db-eb" class="db-widget">
  <a href="/projects/dormBuddy/eventBuddy">
    <img data-src="/img/db-eb.png"/>
  </a>
</div>
<div id="db-pb" class="db-widget">
  <a href="/projects/dormBuddy/profileBuddy">
    <img data-src="/img/db-pb.png"/>
  </a>
</div>
