<div class="db-screen-body">
  <h1>Map Buddy</h1>
  <div class="db-screen-text">
    <h2>Purpose</h2>
      Map Buddy was designed to aid students in their day to day navigation
      around campus, and even around the city! A common problem students face
      in the beginning of a semester, or when they are new to the campus, is
      that they don't know where different buildings are. That often leads to
      other problems, such as being late to pivotal first days of classes, not
      knowing the existence of important buildings, and so on. Map Buddy
      directly addresses those issues, helping students navigate seamlessly.
      There are two types of maps in Map Buddy: Interactive user friendly maps,
      and static local maps.
      <div class="db-screen-text-section">
        <div class="db-img db-float-left">
          <img src="/img/db-mb-0.png" class="db-phone-img displayable-photo" />
        </div>
        <h2>Interactive Maps</h2>
        Interactive maps are Map Buddy's flexible user customized maps. Currently,
        there are two interactive maps: a city map and a campus map. Interactive
        maps use the
        <a href="https://developers.google.com/maps/documentation/android-sdk/">
        Google Maps Android SDK</a> to make map customization possible. When a
        map is first launched, users get to view and interact with the area,
        and they are also introduced to a set of predefined markers.
        <h3>Geolocation Markers</h3>
        As part of the app, interactive maps already come with static markers
        situated where hotspots lie. Such hotspots include the recretional center
        for the campus map, and the nearby shopping mall for the city map. The
        list of markers can be viewed by tapping the "View Markers" button, and users
        can tap on any one of the locations to have their map automatically zoom
        and pan over it. If the user has their location data enabled, they can
        view where they are relative to the location. If the user feels that
        a location is not needed anymore, they can long tap it and it disappears
        after a confirmation. If the user wants to add a new location, they can
        use the Add Marker interface, where all that is required is giving a name
        to the marker and tapping its location in the map.
        <div class="db-img-container-small">
          <div class="db-img">
            <img src="/img/db-mb-3.png" class="db-phone-img-small displayable-photo" />
            GMU Campus Map's first launch
          </div>
          <div class="db-img">
            <img src="/img/db-mb-4.png" class="db-phone-img-small displayable-photo" />
            Listing of saved markers
          </div>
          <div class="db-img">
            <img src="/img/db-mb-5.png" class="db-phone-img-small displayable-photo" />
            Interface for adding a marker
          </div>
          <div class="db-img">
            <img src="/img/db-mb-6.png" class="db-phone-img-small displayable-photo" />
            After adding the "Hub" marker
          </div>
          <div class="db-img">
            <img src="/img/db-mb-7.png" class="db-phone-img-small displayable-photo" />
            After deleting the "Hub" marker
          </div>
        </div>
      </div>
      <div class="db-screen-text-section">
        <div class="db-img db-float-left">
          <img src="/img/db-mb-1.png" class="db-phone-img" />
        </div>
        <h2>Available Maps</h2>
        Under available maps, the user gets to see static local maps relevant
        to where they reside. For now, the available maps include the campus map
        of the student's college and a map of the user's dormitory floor. The
        user can select a local map and be able to save it to their phone gallery.
        When saved, the user can navigate to the Dorm Buddy folder in their gallery
        and access the local map at their convenience.
      <div class="db-img-container-medium">
        <div class="db-img">
          <img src="/img/db-mb-8.png" class="db-phone-img-medium displayable-photo" />
          Campus Map
        </div>
        <div class="db-img">
          <img src="/img/db-mb-2.png" class="db-phone-img-medium displayable-photo" />
          Dorm Map
        </div>
      </div>
    </div>
  </div>
</div>
