<div class="db-screen-body">
  <h1>Map Buddy</h1>
  <div class="db-screen-text">
    <h2>Purpose</h2>

    <h2>Interactive Maps</h2>

    <h2>Local Maps</h2>

    <div class="db-img-container">
      <div class="db-img">
        <img src="../img/db-mb-0.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-1.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-2.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-3.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-4.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-5.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-6.png" class="db-phone-img" />
      </div>
    </div>
  </div>
</div>
