<div class="db-screen-body">
  <h1>Map Buddy</h1>
  <div class="db-screen-text">
    <h2>Purpose</h2>

    <h2>Interactive Maps</h2>

    <h2>Local Maps</h2>

    <div class="db-img-container">
      <div class="db-img">
        <img src="../img/db-mb-0.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-1.png" class="db-phone-img" />
      </div>
      <div class="db-img">
        <img src="../img/db-mb-2.png" class="db-phone-img" />
        Sample floor map of John Doe
      </div>
      <div class="db-img">
        <img src="../img/db-mb-3.png" class="db-phone-img" />
        Interactive Campus Map
      </div>
      <div class="db-img">
        <img src="../img/db-mb-4.png" class="db-phone-img" />
        Listing of saved markers
      </div>
      <div class="db-img">
        <img src="../img/db-mb-5.png" class="db-phone-img" />
        Interface for adding a marker
      </div>
      <div class="db-img">
        <img src="../img/db-mb-6.png" class="db-phone-img" />
        Campus map after adding a "Hub" marker
      </div>
      <div class="db-img">
        <img src="../img/db-mb-7.png" class="db-phone-img" />
        Campus map after deleting the "Hub" marker
      </div>
    </div>
  </div>
</div>
