<div class="db-screen-body">
  <h1>Profile Buddy</h1>
  <div class="db-screen-text-section">
    <div class="db-float-right">
      <div class="db-img">
        <img src="../img/db-pb-0.png" class="db-phone-img" />
      </div>
    </div>
    <h2>Purpose</h2>
    Profile buddy was designed to make getting your own university data more
    accessible. Often times students misremember what their own credentials
    are, and profile buddy deals with that concern. This is done by pulling up
    personal university data with the tap of the widget. Students can use this
    data as a reminder when filling out forms, or as a way to double check what
    they already know. In profile buddy, the user may also sign out of their
    account in case they need to switch to another university account or sign
    in again.
    <h2>User Data</h2>
    Data displayed in profile buddy includes:
    <ul>
      <li>An optional image they can upload by tapping the buddy</li>
      <li>Their full name</li>
      <li>A NetId, or the start of their email address and Dorm Buddy username</li>
      <li>G-Number, or unique university identifying number</li>
      <li>The building they reside in</li>
      <li>Their dorm room number</li>
    </ul>
  </div>
</div>
