<div class="db-screen-body">
  <h1>Study Buddy</h1>
  <h2>Purpose</h2>
  Another problem on-campus students face is the need for a study room, only to
  find out another student is sitting in it. So, in order to ensure that the room
  is yours, and that other students don't camp in the study room, Study Buddy was
  created. Study Buddy is Dorm Buddy's study room reservation system. With it,
  users can reserve study rooms up to one week in advance, guaranteeing that
  the room would be free when it's time to review for their exams.
  <div class="db-phone-and-text">
    <div class="db-float-left">
      <div class="db-img">
        <img src="../img/db-sb-3.png" class="db-phone-img"  / />
      </div>
    </div>
    <div class="db-screen-text-section">
      <h2>Study Rooms</h2>
      When Study Buddy is launched, a list of upcoming study room reservations
      for the week show up. Those reservations have all been created by the user,
      and the user can tap any one of them to view more details, or cancel it and
      free up the room other residents.
      <div class="db-screen-text-section">
        <div class="db-float-right">
          <div class="db-img">
            <img src="../img/db-sb-4.png" class="db-phone-img-medium" />
            Reservation details
          </div>
        </div>
        <h3>Reservations</h3>
        Any user can reserve a study room, and starting a reservation is just a tap
        away. After tapping the "Reserve a room" button, the user is prompted to
        fill out a form with reservation details. The inputs in the form are as
        follows:
        <ul>
          <li>Title - A brief overview of what the reservation is about.</li>
          <li>
            Image - This is an optional icon users can upload and attach with their
            reservation.
          </li>
          <li>
            Location - Where the reservation will take place. Users must select a
            room number from this drop down list of study rooms in the building.
          </li>
          <li>
            Time - In here, users select a series of continuous 15-minute timeslots
            that go with their reservation. Time slots selected by the user are
            highlighted in green while those in which the room would be occupied
            are highlighted in red. So, to avoid conflicts, red timeslots are not
            selectable. Also, users can only reserve a maximum of 2 hours per day
          </li>
          <li>
            Description - This is where users get creative. In this text area, users
            are free to jot down notes regarding the topics they will cover during the
            study session
          </li>
        </ul>
        After hitting the create button, the reservation can be seen in Study Buddy's
        main screen. The timeslots associated with the reservation will be highlighted
        in red for users who would try to reserve the same room
        <div class="db-img-container-small">
          <div class="db-img">
            <img src="../img/db-sb-0.png" class="db-phone-img-small"  />
            Reserve a room interface
          </div>
          <div class="db-img">
            <img src="../img/db-sb-1.png" class="db-phone-img-small" />
            Reservation time slots must be continuous
          </div>
          <div class="db-img">
            <img src="../img/db-sb-2.png" class="db-phone-img-small" />
            Slots reserved by others are red
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
