<nav>
  <li id="nav0">
    <a href="/">Home</a>
  </li>
  <li id="nav1">
    <a href="/bio">Bio</a>
  </li>
  <li id="nav2">
    <a href="/projects">Projects</a>
    <ul class="nav-drop-down">
      <li>
        <a href="/projects/nabilsBooks">Nabil's Books</a>
      </li>
      <li>
        <a href="/projects/dormBuddy">Dorm Buddy</a>
      </li>
      <li>
        <a href="/projects/javaGames">Java Games</a>
      </li>
      <li>
        <a href="/projects/tetriworld">TETRIWORLD</a>
      </li>
    </ul>
  </li>
  <li id="nav3">
    <a href="/contact">Contact</a>
  </li>
</nav>
